/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 1px 10px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: rgb(173, 190, 212);}
#Contact {background-color: blue;}
#About {background-color: orange;}


body {
    background-color: rgb(227, 248, 255);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;

  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  img {

    width: 2000px;
    height: 1000px;
    object-fit: cover;
    object-position: 100% 30%;
    opacity: 0.5;

  }

  #responsive-image {
      width: 100%;  
      height: auto;     
      object-fit: cover;
      object-position: 100% 30%;
      opacity: 0.5;

  } 



  .container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #example1 {

    border: 10px solid black;
    padding: 3px;
    background: url(pic/edu2.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
}
#example2 {

    border: 1px solid rgb(255, 0, 0);
    padding: 3px;
    background: rgba(255, 255, 255, 0.5) /* Green background with 30% opacity */
}
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

