/* Genel Stil Ayarları */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Okunaklı bir font seçimi */
  line-height: 1.6;
  margin: 0;
  background-color: #f4f4f4; /* Nötr bir arka plan rengi */
  color: #333; /* Koyu metin rengi */
}

/* Başlık Stilleri */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif; /* Başlıklar için daha dikkat çekici bir font */
  text-align: center;
  margin-bottom: 1rem;
}

/* Paragraf Stilleri */
/* Masaüstü ve daha büyük ekranlar için */
p {
    text-align: center;
}

/* Tablet ve daha küçük ekranlar için */
@media (max-width: 768px) {
    p {
        text-align: left; /* Sola hizala */
    }
    p a {
        display: block; /* Linki yeni satıra taşı */
        margin-top: 0.5rem;
    }
}

/* Link Stilleri */
a {
  color: #007bff; /* Link rengi */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tab Stilleri */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  transition: background-color 0.3s ease; /* Geçiş efekti eklendi */
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 20px;
  height: 100%;
}

#Home { background-color: #dc3545; } /* Kırmızı */
#News { background-color: #28a745; } /* Yeşil */
#Contact { background-color: #ffc107; } /* Mavi */
#About { background-color: #007bff; } /* Sarı */

/* Container Stili */
.container {
  position: relative;
  text-align: center;
}

/* Görsel Stilleri */
#responsive-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center; /* Görselin ortalanması */
  opacity: 0.7; /* Görselin üzerine gelecek metnin okunabilirliğini artırmak için opacity düşürüldü */
}

.centered {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Metin rengi beyaz yapıldı (görselin üzerine geleceği için) */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Metnin okunabilirliğini artırmak için gölge eklendi */
}
.top {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Metin rengi beyaz yapıldı (görselin üzerine geleceği için) */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Metnin okunabilirliğini artırmak için gölge eklendi */
}
/* Diğer Stiller */
.example2 {
  
  border: 1px solid #ddd;
  padding: 2px;
  background-color: rgb(255, 255, 255,0.7); /* Arka plan rengi beyaz yapıldı */
  color: #333; /* Metin rengi koyu yapıldı */
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge eklendi */
}
